@namespace math url("http://www.w3.org/1998/Math/MathML");
@namespace svg url("http://www.w3.org/2000/svg");

@keyframes example {
    from {
      border-color: black;
    }
    to {
      border-color: transparent;
    }
}

.selected {
  border-bottom: 1px solid rgba(0,0,0,0.5);
  border-right: 1px solid black;
  animation-name: example;
  animation-duration: 0.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.cursor {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 1px solid rgba(0,0,0,0.5);
  border-right: 1px solid black;
  animation-name: example;
  animation-duration: 0.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.pass { color: green; display: none; }
.fail { color: red; }
.mathdiv {
  padding: 5px;
}
.empty {
  border: 1px solid gray;
  min-width: 1em;
  min-height: 1em;
}
.lhs { color: green; }
.rhs { color: blue; }
.equality { color: orange; }

.toolbar {
  height: 3em;
  width: 100%;
  border-bottom: 1px solid black;
  background: #00796b;
  color: rgba(255,255,255,0.87);
}

.toolbarbutton {
  display: inline-block;
  width: 3em;
  height: 2em;
  border-right: 1px solid black;
  text-align: center;
  padding-top: 1em;
}
#plot.toolbarbutton {
  background-image: url(PlotIcon.svg);
  background-size: 100% 100%;
}

ol {
  width: 100%;
  height: 92%;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.window {
  border-bottom: 1px dashed rgb(250,250,250);
  min-height: 3em;
  overflow: visible;
}

.window .titlebar {
  float: right;
}

.window.active > .titlebar {
  visibility: visible;
}

.window .content {
  padding: 0.5em 3px 3px;
}

.window .secondary {
  display: none;
}

.window .errors {
  padding: 5px;
  font-size: xx-small;
  font-family: sans-serif;
  color: red;
}

.window.active .secondary {
  display: block;
}

.closebutton {
  background-image: url(ButtonClose.png);
  background-size: 16px 16px;
  opacity: 0.25;
  width: 32px;
  height: 3em;
  display: none;
  background-position: center center;
  border-left: 1px solid gray;
  background-repeat: no-repeat;
  cursor: pointer;
  -moz-transition: opacity 200ms;
}

.closebutton:hover {
  opacity: 1;
}

#tests {
  position: absolute;
  right: 20px;
  bottom: 20px;
  background-color: white;
  padding: 0.5em 2em;
  overflow-y: auto;
  max-height: calc(100% - 1em - 60px);
  white-space: pre;
}

#tests li { opacity: 1; -moz-transition: opacity 1s; }
/*#tests.hidden li { opacity: 0; }
#tests li { display: none; }*/
#tests li.fail,
#tests li:last-child { display: block; }

.plotLabels {
  float: left;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  list-style-image: none;
}

#details {
  float: right;
  padding: 10px;
  width: calc(50% - 20px);
  height: 90%;
  background-color: rgb(250,250,250);
  position: relative;
}

#details svg|svg {
  position: absolute;
  top: 0;
  left: 0;
}

h3 {
  font-family: sans-serif;
  font-size: large;
  font-weight: bold;
  border-bottom: 2px solid black;
}

math|*:hover {
  /* outline: 1px solid gray; */
}